.Column {
    float: left;
}

.Right {
    width: 88%
}

.Table {
    width: 900px;
    margin-right: 70px;
}

.ListItem {
    margin-top: 25px;
    width: 70%;
    list-style-type: none;
}

.ContactPageHost {
    margin-top: 20px;
}

.ContactCardHost {
    margin: 10px;
}

.SearchBar {
    font-size: 24px;
}

.Plus {
    max-width: 60px;
    max-height: 60px;
    cursor: pointer;
}

.SearchHost {
    display: flex;
    align-items: center;

}