.MainCard {
    box-shadow: 3px 3px 3px black;
    background-color: mediumpurple;
    padding: 10px;
    color: white;
}

.MainCard:hover {
    background-color: lightgray;
}

.InformationCardHost {
    padding: 0px 10px 0px 10px;
}