.MainCard {
    box-shadow: 3px 3px 3px black;
    background-color: mediumpurple;
    padding: 10px;
    color: white;
    font-size: 36px;
    transition: background-color 0.7s ease;
}

.MainCard:hover {
    background-color: mediumslateblue;
}

.InformationCardHost {
    padding: 0px 10px 0px 10px;
}