.InformationCard {
    background-color: lavender;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 0px 3px black;
    overflow: hidden;
}

.SectionTitle {
    font-weight: bold;
}

.SectionInfo {
    margin-left: 10px;
}

.Type {
    font-style: italic;
    display: inline-block;
}

.SectionContent {
    margin: 0px 0px 0px 10px;
    display: inline-block;
}

.ContactInfoTable {
    width: 100%;
}

.TableCell {
    vertical-align: top;
    width: 50%;
}

.ContactButton {
    background-color: transparent;
    border-width: 0px;
}

.Card-Visible {
    animation-name: CardSlideDown;
    animation-duration: 1s;
}

.Card-Hidden {
    animation-name: CardSlideUp;
    animation-duration: 1s;
}

.Image {
    max-height: 20px;
    max-width: 20px;
}

.InformationCardAnimationHost {
    overflow: hidden;
}

@keyframes CardSlide {
    from {
        max-height: 0px;
    }
    to {
        max-height: 1000px;
    }
}